<!DOCTYPE html>
<html>

<head>
<title>Solicitar Coleta</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Solicitação de Coleta</h2>

<form method="post" enctype="multipart/form-data">

Nome<br>
<input type="text" name="nome"><br><br>

Endereço<br>
<input type="text" name="endereco"><br><br>

Item para coleta<br>
<input type="text" name="item"><br><br>

Foto do item<br>
<input type="file" name="foto"><br><br>

<button type="submit">Enviar</button>

</form>

<a href="/">Voltar</a>

</body>
</html>
