<!DOCTYPE html>
<html>

<head>
<title>Denunciar Descarte Irregular</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Registrar Denúncia</h2>

<form method="post" enctype="multipart/form-data">

Local<br>
<input type="text" name="local"><br><br>

Descrição<br>
<textarea name="descricao"></textarea><br><br>

Foto do local<br>
<input type="file" name="foto"><br><br>

<button type="submit">Enviar Denúncia</button>

</form>

<a href="/">Voltar</a>

</body>
</html>
